# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [8]:
import pandas as pd
import numpy as np

# Seu código aqui
anomalia_termica= [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
temp_media_serie = pd.Series(data= anomalia_termica)
temp_media_serie

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [9]:
ano = [1900,1920,1940,1960,1980,2000,2020]
temp_media_serie = pd.Series(data= anomalia_termica, index = ano)
temp_media_serie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [11]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temp_media_serie_dic= pd.Series(dic_temperaturas)
temp_media_serie_dic

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [22]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
ndarray_DF = pd.DataFrame(arr)
ndarray_DF

             0           1           2
0   102.990041  116.496538   98.373575
1   121.273920  107.486194   94.921177
2    96.397678  118.532660  113.837434
3    98.777188  106.818252   80.532648
4   100.198740   97.776019  101.240497
5   126.630175  102.805490   92.373053
6   114.496000  102.316416   87.360676
7   100.309058   83.049756   93.315685
8    63.301187   95.578817  103.247709
9    96.884158  102.271637  104.159312
10   99.335093  102.458099   91.715486
11   99.339082  101.566937  113.678180
12  103.542268  100.495412  121.406679
13  109.663740   90.017464   99.163414
14  106.120122   82.879170  100.252076
15  100.322343   73.970238   96.867699
16  108.285967  116.970736  105.327630
17   78.868651  105.185295   94.919340
18   98.930426   97.149570   94.581992
19   77.213784  101.428816  102.623308

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [24]:
#seu código aqui
ndarray_DF = pd.DataFrame(arr, columns= ['x1','x2','x3'])
ndarray_DF

            x1          x2          x3
0   102.990041  116.496538   98.373575
1   121.273920  107.486194   94.921177
2    96.397678  118.532660  113.837434
3    98.777188  106.818252   80.532648
4   100.198740   97.776019  101.240497
5   126.630175  102.805490   92.373053
6   114.496000  102.316416   87.360676
7   100.309058   83.049756   93.315685
8    63.301187   95.578817  103.247709
9    96.884158  102.271637  104.159312
10   99.335093  102.458099   91.715486
11   99.339082  101.566937  113.678180
12  103.542268  100.495412  121.406679
13  109.663740   90.017464   99.163414
14  106.120122   82.879170  100.252076
15  100.322343   73.970238   96.867699
16  108.285967  116.970736  105.327630
17   78.868651  105.185295   94.919340
18   98.930426   97.149570   94.581992
19   77.213784  101.428816  102.623308

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [29]:
# seu código aqui
ndarray_DF['media']= (ndarray_DF['x1']+ ndarray_DF['x2']+ ndarray_DF['x3'])/3
ndarray_DF

            x1          x2          x3       media
0   102.990041  116.496538   98.373575  105.953384
1   121.273920  107.486194   94.921177  107.893764
2    96.397678  118.532660  113.837434  109.589258
3    98.777188  106.818252   80.532648   95.376029
4   100.198740   97.776019  101.240497   99.738419
5   126.630175  102.805490   92.373053  107.269573
6   114.496000  102.316416   87.360676  101.391031
7   100.309058   83.049756   93.315685   92.224833
8    63.301187   95.578817  103.247709   87.375904
9    96.884158  102.271637  104.159312  101.105036
10   99.335093  102.458099   91.715486   97.836226
11   99.339082  101.566937  113.678180  104.861400
12  103.542268  100.495412  121.406679  108.481453
13  109.663740   90.017464   99.163414   99.614873
14  106.120122   82.879170  100.252076   96.417122
15  100.322343   73.970238   96.867699   90.386760
16  108.285967  116.970736  105.327630  110.194778
17   78.868651  105.185295   94.919340   92.991095
18   98.930426   97.149570   94.581992   96.887329
19   77.213784  101.428816  102.623308   93.755303

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [32]:
# seu código aqui
ndarray_DF['log_med']= np.log(ndarray_DF['media'])
ndarray_DF

            x1          x2          x3       media   log_med
0   102.990041  116.496538   98.373575  105.953384  4.662999
1   121.273920  107.486194   94.921177  107.893764  4.681147
2    96.397678  118.532660  113.837434  109.589258  4.696739
3    98.777188  106.818252   80.532648   95.376029  4.557827
4   100.198740   97.776019  101.240497   99.738419  4.602551
5   126.630175  102.805490   92.373053  107.269573  4.675345
6   114.496000  102.316416   87.360676  101.391031  4.618985
7   100.309058   83.049756   93.315685   92.224833  4.524229
8    63.301187   95.578817  103.247709   87.375904  4.470220
9    96.884158  102.271637  104.159312  101.105036  4.616160
10   99.335093  102.458099   91.715486   97.836226  4.583295
11   99.339082  101.566937  113.678180  104.861400  4.652639
12  103.542268  100.495412  121.406679  108.481453  4.686579
13  109.663740   90.017464   99.163414   99.614873  4.601311
14  106.120122   82.879170  100.252076   96.417122  4.568684
15  100.322343   73.970238   96.867699   90.386760  4.504098
16  108.285967  116.970736  105.327630  110.194778  4.702250
17   78.868651  105.185295   94.919340   92.991095  4.532504
18   98.930426   97.149570   94.581992   96.887329  4.573549
19   77.213784  101.428816  102.623308   93.755303  4.540688